.button_function {
    -fx-background-color: none;
    -fx-background-radius: 0;
}

.button_function:hover {
    -fx-background-color: rgba(0, 0, 0, .15);
}

.card {
    -fx-background-color: #FFFFFF;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 15, 0, 0, 0);
}

.input_box {
    -fx-border-color: #e5e9ec;
    -fx-background-color: none;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px;

    -fx-focus-color: -fx-control-inner-background;
    -fx-faint-focus-color: -fx-control-inner-background;
    -fx-text-box-border: -fx-control-inner-background;
}

.input_box:focused {
    -fx-border-color: #a768f3;
}

.listview {
    -fx-border-color: #e5e9ec;
    -fx-background-color: none;
}

.input_search {
    -fx-border-color: #e5e9ec;
    -fx-background-color: white;
    -fx-background-radius: 0;
    -fx-border-width: 1px;
    -fx-border-radius: 4px 0 0 4px;
}

.input_search:focused {
    -fx-border-color: #a768f3;
}

.btn_save {
    -fx-cursor: hand;
    -fx-font-family: sans-serif;
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-background-color: #FF6347;
    -fx-text-fill: #FFFFFF;
    -fx-border-radius: 4px;
    -fx-padding: 6px 12px;
}

.btn_save:hover {
    -fx-background-color: #8b39ef;
}